
 body{background:#fff;font:13px/1.231 verdana,arial,helvetica,clean,sans-serif}

	html, body {width:100%;height:100%;padding:0;margin:0;overflow:auto;}
	#gw {height:100%;width:100%;}
	#cs .g {height:100%;}
	
	#searchPane{padding:0;overflow:hidden;border:0}




#ns {background:#b92025 url(../i/ns.png) 0 100% repeat-x;overflow:hidden}
#ns .nvg *{float:left;}
#ns .nvg{float:left;padding:0 0 0 20px;margin:0.5em 0}
#ns .nvg li{border-right: 1px dotted #cb585c;}
#ns .nvg li.ix{border:0}
#ns .nvg .s1 a,#ns .nvg .s1 a:hover,#ns .nvg .s2 a,#ns .nvg .s2 a:hover,#ns .nvg .s3 a,#ns .nvg .s3 a:hover,#ns .nvg a:hover{color:#fff;}
#ns .nvg .s5{color:#ccc;cursor:not-allowed;font-weight:700;padding:0;}
#ns .nvg a{color:#ddd;font-weight:700;padding:0;font-size:100%;padding:0.1em 9px 0.1em 10px}
.j #ns .nvg a{font-size:123.1%;}
#ns .nvg li{padding:0 1px 0 0;}
#bs {position:relative;height: 140px;}
#hs {background:#000 url(../i/bs.jpg) 0 0 no-repeat; }
#hs h3 a {background:url(../i/hs.h3.png) 0 0 no-repeat;position:absolute;top:5;left:20px;height:140px;text-indent:-9999px;width:353px;}
#hs h4{bottom:10px;left:20px;position:absolute;z-index:3;background:url(../i/hs.h4.png);display:block;height:20px;text-indent:-9999px;width:363px;}

#hs .gx {width: 519px;height:140px;background:url(../i/bs.gx.png) 0 0 no-repeat; position:absolute; right:0;top:0}

#hs .utl {right: 5px; top: 5px; position:absolute;z-index:30}
#hs .utl * {float:left}
#hs .utl li {font-size:85%;padding:5px 7px 5px 6px;border-right: 1px solid #333}
#hs .utl li.ix {border:0}
#hs .utl a {color:#fff}

#hs .utl {padding:5px 0}
#hs .utl label {color:#fff;float:none}
#hs .utl a.t10 {padding-left: 17px;background:url(../i/_s10.png) 0 0 no-repeat;}
#hs .utl a.t10.m4 {background-position: 0 0px }
#hs .utl a.t10.m4:hover {background-position: 0% -29px }
#hs .utl a.t10.m5 {background-position: 0 -15px }
#hs .utl a.t10.m5:hover {background-position: 0% -44px }
#hs .utl a.t10.m6 {background-position: 0 -58px }
#hs .utl a.t10.m6:hover {background-position: 0% -72px }



#cs .c1 {float:left;  }

.u.u1 {background:#f4f2ef url(../i/u1.png) 100% 50% no-repeat;width: 280px;}
.u.u2 {width: 280px;padding:0 5px}
.u {float:left}

#cs .u h2 {color:#90181b; font-size:138.5%;padding: 10px 10px 0 10px}

.nvh{padding:0 10px}
.itl {border:2px solid #e8e3df;padding:5px;margin:10px;background:#fff}
.itl h3 { font-weight:700;color:#90181b; text-transform:uppercase;font-size:85%;padding:.4em 0 .7em 5px }
.itl li {font-size:85%;color:#928476;line-height:1.65em;padding:0 5px;}
.itl li:hover {background:#f9f4f2;-moz-border-radius:3px}
.itl a.t9.m3{width:12px; height:12px; float:right;margin-top:4px; background:url(../i/_a0.png) -14px -89px no-repeat;text-indent:-5000px}
.itl a.t9.m3:hover{background-position: 0px -89px}
.itl a.t9 {background-color:#fff}

.nvh li {font-size:85%;color:#928476;line-height:1.65em;}
.nvh > li { background:url(../i/nvh.li.png) 50% 0 no-repeat}
.nvh h3 { font-weight:700;color:#362d22; text-transform:uppercase;padding:.7em 0;border-top:1px dotted #d8d1cc;margin-top:.7em}
.nvh li li {font-size:100%;border:0;padding:0 0 0 16px; background:url(../i/_a0.png) -43px 0.7em no-repeat	}

.nvh a {color:#7f6e57;}
.nvh a:hover {color:#90181b;}

.nvh dfn {background:#ece8e4;color:#9d8874;-moz-border-radius:3px;padding:2px 3px;font-size:85%;font-weight:700;cursor:help;border:1px solid #d8d1cc;display:inline-block;margin-top:2px}
.nvh label a {border-bottom:1px dotted #d8d1cc;}
.nvh label a:hover {border-bottom:1px solid #90181b;}

a.t9 {background:#f4f2ef url(../i/_a0.png) no-repeat; text-indent:-5000px; }


.nvh h3 a.t9.m0{width:12px; height:6px; float:right;margin-top:2px}
.nvh a.t9.m0.s6 {background-position:-14px -24px}
.nvh a.t9.m0.s6:hover {background-position:0 -24px}
.nvh a.t9.m0.s7 {background-position:-14px -42px}
.nvh a.t9.m0.s7:hover {background-position:0 -42px}

.nvh ul a.t9.m0{width:12px; height:12px; float:left; margin:4px 3px 0 -16px}
.nvh ul a.t9.m0.s6 {background-position:-14px 0}
.nvh ul a.t9.m0.s6:hover {background-position:0 0}
.nvh ul a.t9.m0.s7 {background-position:-14px -12px}
.nvh ul a.t9.m0.s7:hover {background-position:0 -12px}
 
a.t9.m1 {background-position:-14px -60px;display:inline-block;width:12px;height:14px;line-height:normal;}
a.t9.m1:hover {background-position:0 -60px}
a.t9.m2 {background-position:-14px -74px;display:inline-block;width:14px;height:14px;line-height:normal;padding-top:1px}
a.t9.m2:hover {background-position:0 -74px}

a.t9.m4 {background-position:-14px -101px;width:14px;height:14px;line-height:normal;float:right;margin-right:3px}
a.t9.m4:hover {background-position:0 -101px}
 
.c1 .fms input[type=text] {border: 1px solid #d8d1cc;padding:5px;color:#362d22;width:222px}
.c1 .fms fieldset * {float:left;font:100% Verdana, Geneva, sans-serif;}
.c1 .fms fieldset{position:relative;font-size:100%;}
.c1 .fms fieldset.m0 label {position:absolute; left: 6px; top: 6px}
.c1 button {background:#d8d1cc;border:0;padding:4px 2px 3px 2px;font-weight:700;cursor:pointer;float:left}






button b {width:12px;height:6px;background:url(../i/_a0.png) -14px -42px no-repeat;float:left;text-indent:-5000px}
.fms button b {background:url(../i/_a0.png) 0 -115px no-repeat;width:16px;height:16px;}
button:hover b{background-position:-28px -115px}
.c1 .fms fieldset:hover input[type=text] {border-color:#c8bdb1;}
.c1 .fms fieldset:hover button{background-color:#c8bdb1;}

.fms .m1 li {background:none;padding:0}
.fms .m1 input[type=radio] {float:left;margin-right:7px}
.fms .m1 label {float:left;color:#9d8874;font-size:85%;font-weight:700;text-transform:uppercase;padding:4px 1px 0 0}

.nvz{overflow:hidden;margin:10px 0;}
.nvh .nvz .s1 {background:#90181b;color:#fff}
.nvh .nvz .s5 {background:none;color:#c8bdb1;cursor:not-allowed}
.nvh .nvz .s5,
.nvh .nvz .s1,
.nvh .nvz a{padding:1px 4px 0; width:1.12em;text-align:center}
.nvh .nvz a:hover{background:#9d8874;border:0 none;color:#fff}
.nvh .nvz li{background:#e8e3df;margin:0 3px 3px 0;padding:0}
.nvh .nvz li,
.nvh .nvz a{border:0 none;color:#666;float:left;line-height:1.65em; font-weight:700} 

dl, ul.m1 {font-size:85%;color:#7f6e57;margin:0 10px}
ul.m1  {margin: 10px 0}
dt {line-height:1.65em;font-weight:700;margin:5px 0 0 0}
dd, ul.m1 li {line-height:1.65em;padding:0 0 0 16px; background:url(../i/_a0.png) -43px 0.7em no-repeat}

#cs .utl {border:2px solid #e8e3df;padding:5px;margin:10px;background:#f9f4f2;overflow:hidden}
#cs .utl li {line-height:1.65em;font-size:85%;color:#7f6e57;}
#cs .utl li label {font-weight:700}
#cs .utl b.s1{font-weight:bold;color:#90181b}
#cs .utl a{color:#7f6e57;border-bottom:1px dotted #d8d1cc; }
#cs .utl a:hover {color:#90181b;border-bottom:1px solid #90181b;}




/*
f4f2ef
 - b92025 light red
 - 90181b - dark red
362d22
7f6e57
928476
9d8874
c8bdb1
d8d1cc
e8e3df
f9f4f2

*/
.u2 .itp {border-top:2px solid #e8e3df;margin:10px;}
.itp a:hover{background:#7f6e57;border:0 none;color:#fff}
.itp li{background:#e8e3df;font-size:93%;margin:0 5px 0 0;padding:0;font-size:85%}
.itp li ul {display:none; position:absolute;width:150px;bottom:0; background:#f9f4f2;padding:3px 0 2px 3px;opacity:0.8;border: 1px solid #e8e3df;}
.itp li:hover ul {display:block}
.itp li li {font-size:100%;margin:0 3px 3px 0;background:none}
.itp li li a{width:1.4em;text-align:center}
.itp .s4 > a{background:url(../i/_a1.png) 100% 5px no-repeat}
.itp .s4 > a:hover,.itp .s4:hover > a{background:#7f6e57 url(../i/_a1.png) 100% -35px no-repeat;color:#fff;}
.itp li,.itp a{border:0 none;color:#7f6e57;float:left;line-height:1.65em}
.itp .s1{background:#90181b;color:#fff}
.itp .s5{background:#fff;color:#c8bdb1}	
.itp .s5,.itp .s1,.itp a{padding:1px 3px 0}
.itp .s5{cursor:not-allowed}


.itp h3 {font-weight:700;color:#362d22; text-transform:uppercase;padding:.7em 0;font-size:85%}

/*
.itp ul {float:left;}
.itp .fms {float:right;
*/
.itp ul{position:relative}
.itp .fms {font-size:85%;color:#928476;line-height:1.65em;border-top:1px dotted #d8d1cc;margin-top:.7em;}
.itp .fms input[type=text]{width:80px}


.c1 .ui-autocomplete-input {float:left;border: 1px solid #d8d1cc;padding:5px;color:#362d22;width:222px;font: 100% Verdana, Geneva, sans-serif;color:#362d22;}
button.ui-button {padding:8px 2px 9px 2px;}
ul.ui-autocomplete {background: #fff; opacity:.9;width:222px;border: 1px solid #d8d1cc;padding:5px;}
ul.ui-autocomplete li {font-size:85%;color:#928476;}
ul.ui-autocomplete li a * {line-height:1.65em;}
ul.ui-autocomplete li a {display:block;padding:3px 1px;}
ul.ui-autocomplete li strong {color:#7f6e57;}
ul.ui-autocomplete li a:hover {background:#f9f4f2;cursor:pointer}

#t1 #cs, #t2 #cs  {padding:10px 20px}

.hdp h1 {color:#90181b; font-size:153.9%;line-height:1.65em;border-bottom:2px solid #e8e3df;margin:10px 0;}
/*.hdp h2 {color:#7f6e57; font-size:138.5%;line-height:1.65em}
*/

#t1 .hdp {background:#e8e3df; float:left;width:100%;clear:both}
#t1 .hdp .itp {position:relative; padding:6px}
#t1 .hdp h1 {float:left;font-size:85%; font-weight: bold;color:#362d22;padding:10px}

#t1 .imb {overflow:hidden;clear:both}
#t1 #cs .utl {width:300px;float:right}

#t1 h3 {color:#7f6e57;line-height:1.65em;text-transform:uppercase;font-size:85%;border-bottom:1px dotted #e8e3df;font-weight:700}

img.m0 {float:right; max-width: 200px;max-height:50px;height:auto;margin:10px 0 0 0}

dl.m0 {}
dl.m0 dt {}
dl.m0 dd {background:none;}

dl.m0{overflow:hidden;margin:0 0 1.2em}
dl.m0 dd{line-height:1.65em;padding:2px 0 2px 16.289em}
dl.m0 dd *{line-height:1.65em}
dl.m0 dt{float:left;width:14.479em;padding:2px 0;margin:0}



dd a {border-bottom:1px dotted #d8d1cc;color:#362d22}
dd a:hover {border-bottom:1px solid #90181b;color:#90181b}

ul.m0 li {font-size: 85%; line-height: 1.65em;border-bottom:1px dotted #e8e3df;padding:5px 0}
ul.m0 i {background:#ece8e4;color:#9d8874;-moz-border-radius:3px;padding:2px 3px;font-size:85%;font-weight:700;border:1px solid #d8d1cc;display:inline-block;margin-top:2px}
ul.m0 label {color:#7f6e57;}
ul.m0 p {line-height:1.65em;margin-top:0.65em;color:#362d22;}

#t2 form fieldset li * {float:left  } 
#t2 form fieldset * {float:left;font:100% Verdana, Geneva, sans-serif;}

#t2 form  input,
#t2 form  select {font-size:85%;font-family:Verdana, Geneva, sans-serif}
#t2 form  input {border: 1px solid #d8d1cc;padding:5px;color:#362d22;}
#t2 form li.m0 {/*background:#f9f4f2; border:2px solid #e8e3df; -moz-border-radius:3px;*/padding:5px}

#t2 form  select {border: 1px solid #d8d1cc;padding:4px;color:#362d22;margin: 0 5px 0 0}
#t2 form #c1 {padding:5px 5px 5px 88px}
#t2 form li {margin: 0 0 10px 0}
#t2 form  a.t9.m3{width:12px; height:12px; float:left;margin:7px 6px 0 0; background:url(../i/_a0.png) -14px -89px no-repeat;text-indent:-5000px}
#t2 form  a.t9.m3:hover{background-position: 0px -89px}

#t2 .utl {margin:0}



#cs .c1{background:#fff;padding:10px 30px}
#cs .c2{background:url(../i/cs.c2.png) 57px 0 no-repeat;width:16.923em;min-height:288px}
#cs .cg{min-height:400px}

.cg .c{float:left;width:16.923em}
.cg .m{float:right;margin-left:-16.923em}
.cg .m .c{float:none;margin-left:16.923em;width:auto}


/*
f4f2ef
 - b92025 light red
 - 90181b - dark red
362d22
7f6e57
928476
9d8874
c8bdb1
d8d1cc
e8e3df
f9f4f2

*/


/*
10 	 77
11 	85
12 	93 (was 93)
13 	100
14 	108 (was 107)
15 	116 (was 114)
16 	123.1 (was 122)
17 	131 (was 129)
18 	138.5 (was 136)
19 	146.5 (was 144)
20 	153.9 (was 152)
21 	161.6 (was 159)
22 	167
23 	174
24 	182
25 	189
26 	197 
*/
